/* Body background + font */
html,
body {
  text-align: center;
  margin-top: 100px;
  height: auto;
  overflow: auto;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  color: #e0e0e0;
  margin: 20px;
  padding: 20px;
  min-height: 100vh;
}

/* --------------------------------------------- Heading --------------------------------------------- */
.main-heading {
  font-size: clamp(24px, 6vw, 40px);
  font-weight: bold;
  background: linear-gradient(to right, #cc00ff, #00ffff, #cc00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  background-clip: text;
  animation: text-gradiant 2.5s linear infinite,
    in-animation-from-up 1s ease-in-out forwards;
  text-align: center;
  margin-bottom: 20px;
}

/* -------------------------------------------------- Sub-Heading --------------------------------------------- */

h2 {
  display: block;
  color: #fff;
  text-align: center;
  animation: in-animation 1s ease-in-out forwards;
  opacity: 0;
}

/* ------------------------------------------------ Watermark ----------------------------------------------- */

.watermark {
  position: fixed;
  font-size: 20px;
  bottom: 10px;
  right: 10px;
  font-family: cursive;
  font-weight: bold;
  background: linear-gradient(to right, #00ffff, #2bff00, #8c00ff, #00FFFF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  animation:
    text-gradiant 2.5s linear infinite,
    in-animation 1s ease-in-out forwards;

  z-index: 9999;
  pointer-events: none;
}

@keyframes text-gradiant {
  0% {
    background-position: -100%;
  }

  50% {
    background-position: 0%;
  }

  100% {
    background-position: 100%;
  }
}

/* --------------------------------------------------- Button -------------------------------------------------------- */

button {
  font-size: 18px;
  margin: 30px 10px;
  padding: 15px 30px;
  border: var(--primary-color) 2px solid;
  outline: none;
  color: var(--text-color);
  cursor: pointer;
  font-weight: bold;
  position: relative;
  z-index: 0;
  border-radius: 5px;
  background-color: var(--var-c);
  opacity: 0;
  animation: in-animation 1s ease-in-out forwards;
  transition: .5s ease-in-out;
}


button::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--var-d);
  left: 0;
  top: 0;
  border-radius: 2px;
  transition: .5s ease-in-out;
}


button::before {
  content: "";
  background: var(--primary-color);
  position: absolute;
  top: 120%;
  left: 0;
  background-size: 100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: perspective(24px) rotateX(45deg) scale(0.8, 0.3);
  filter: blur(24px);
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: .5s ease-in-out;
}

button:hover {
  font-weight: bold;
  color: #000;
  transition: .5s ease-in-out;
  box-shadow: 0 0 5px var(--primary-color),
    0 0 10px var(--primary-color),
    0 0 20px var(--primary-color),
    0 0 20px var(--primary-color);
}

button:hover::after {
  background-color: var(--primary-color);
  transition: .5s ease-in-out;
}

button:hover::before {
  opacity: 0.7;
  transition: opacity .5s ease-in-out;
}



/* ------------------------------------------------------- Cube ----------------------------------------------- */

.cube2 {
  margin: 100px auto;
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate-cube 16s ease-in-out infinite;
}

/* @keyframes animate-cube {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
} */

.cube2 div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #686868;
  color: black;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
  padding-top: 5px;
  background-size: cover;
  transform-style: preserve-3d;
}

.cube2 div span {
  position: absolute;
  text-align: center;
  padding-top: 15px;
  font-size: 25px;
  font-weight: 700;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #818181;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://res.cloudinary.com/devpcp7mz/image/upload/v1763648537/youtube_cqskyl.png");
  color: black;
  transform: rotateY(calc(90deg*var(--i))) translateZ(calc(50px));
}

.top2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 500px;
  background: #000;
  transform: rotateX(90deg) translateZ(50px);
}

.top2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: rgba(255, 0, 0, 0.6);
  transform: translateZ(-200px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(255, 0, 0, 0.2),
    0 0 200px rgba(255, 0, 0, 0.4),
    0 0 300px rgba(255, 0, 0, 0.6),
    0 0 400px rgba(255, 0, 0, 0.8),
    0 0 500px rgb(255, 0, 0);
}

.cube3 {
  margin: 100px auto;
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate-cube 4s linear infinite;
}

@keyframes animate-cube {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  /* 10% {
    transform: rotateX(-30deg) rotateY(90deg);
  }
  50%{
    transform: rotateX(-30deg) rotateY(90deg);
  }
  60% {
    transform: rotateX(-30deg) rotateY(180deg);
  }
  80% {
    transform: rotateX(-30deg) rotateY(180deg);
  }
  90%{
    transform: rotateX(-30deg) rotateY(360deg);
  } */
  100%{
    transform: rotateX(-30deg) rotateY(1800deg);
  }
}

.cube3 div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube3 div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000000, #00ff00);
  transform: rotateY(calc(90deg*var(--i))) translateZ(calc(50px));

}

.top3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 500px;
  background: #000;
  transform: rotateX(90deg) translateZ(50px);
}

.top3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: rgba(0, 255, 0, 0.6);
  transform: translateZ(-200px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
    0 0 200px rgba(0, 255, 0, 0.4),
    0 0 300px rgba(0, 255, 0, 0.6),
    0 0 400px rgba(0, 255, 0, 0.8),
    0 0 500px rgb(0, 255, 0);
}


/* ------------------------------------------------------------- Atom -------------------------------------------- */


.atom {
  position: relative;
  display: flex;
  width: 300px;
  height: 300px;
  margin: 200px auto;
  align-items: center;
  justify-content: center;
}


.atom::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: transparent;
  box-shadow: inset 0 0 10px #fff;
  border-radius: 50%;
}

.line {
  margin: 200px auto;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.7;
}

.line1 {
  color: #40f;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-bottom: 10px solid #40f;
  border-top: 10px solid #40f;
  animation: line-1 2s linear infinite;
  filter: drop-shadow(0 0 10px #4400ff);
}

@keyframes line-1 {
  0% {
    transform: rotateY(70deg) rotateZ(0deg);
  }

  100% {
    transform: rotateY(70deg) rotateZ(360deg);
  }
}

.line2 {
  color: #0f0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-right: 10px solid #0f0;
  border-left: 10px solid #0f0;
  animation: line-2 2s linear infinite;
  filter: drop-shadow(0 0 10px #0f0);
}

@keyframes line-2 {
  0% {
    transform: rotateX(80deg) rotateY(25deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(80deg) rotateY(25deg) rotateZ(360deg);
  }
}

.line3 {
  color: #00ffff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-right: 10px solid #00ffff;
  border-left: 10px solid #00ffff;
  animation: line-3 2s linear infinite;
  filter: drop-shadow(0 0 10px #00ffff);
}

@keyframes line-3 {
  0% {
    transform: rotateX(-80deg) rotateY(25deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(-80deg) rotateY(25deg) rotateZ(360deg);
  }
}


/* ---------------------------------------- Intro Page ------------------------------------------------------ */


.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}


.loading svg path {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}


.loading svg path#back {
  stroke: #ff5c5c57;
}


.loading svg path#front {
  stroke: #ff0000;
  stroke-dasharray: 220;
  stroke-dashoffset: 440;
  animation: dash_heart 5s linear forwards;
}


.loading svg {
  animation: fade_up 1s ease-in forwards;
  animation-delay: 5s;
  /* Start after heart stroke finishes */
  opacity: 1;
}


@keyframes dash_heart {
  to {
    stroke-dashoffset: 0;
  }
}


@keyframes fade_up {
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}

/* -------------------- Textin of intro ----------------- */


.text-of-intro {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right, #cc00ff, red, #cc00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 18px;
  white-space: nowrap;
  background-size: 200%;
  animation: intro-text-intro 5s linear forwards,
    fade-out-text 1s ease-in 5s forwards;
}

@keyframes fade-out-text {
  0% {
    transform: translateY(0px) translateX(-50%);
    opacity: 1;
  }

  100% {
    transform: translateY(-50px) translateX(-50%);
    opacity: 0;
  }
}

@keyframes intro-text-intro {
  0% {
    background-position: -100%;
  }

  50% {
    background-position: 0;
  }

  100% {
    background-position: 100%;
  }
}

.last-text-of-intro {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%) translateY(110px);
  /* match animation 0% */
  text-align: center;
  font-size: clamp(1.5rem, 5vw, 41px);
  color: rgb(255, 212, 212);
  text-shadow: 0 0 12px #f00,
    0 0 20px #f00;

  opacity: 0;
  animation: l-t-o-i-animation 1s ease-in-out 5s forwards;
}

@keyframes l-t-o-i-animation {
  0% {
    transform: translateX(-50%) translateY(110px);
    opacity: 0;
  }

  100% {
    transform: translateX(-50%) translateY(70px);
    opacity: 1;
  }
}














.menubar {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  left: 0;
  width: 50px;
  max-width: 200px;
  min-width: 60px;
  height: 100vh;
  background: linear-gradient(#c0f,#0ff);
  animation: in-animation-from-up 1s ease-in-out forwards;
  z-index: 9999;
  transition: .5s ease-out;
}

.menubar-btns {
  display: flex;
  position: relative;
  margin: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  height: 50px;
  border: none;
  color: white;
  border-radius: 25px;
  margin-top: 20px;
  cursor: default;
  transition: .5s ease-out;
}

.close-navbar-btn {
  display: flex;
  position: relative;
  padding: 0;
  margin-left: 10px;
  width: 40px;
  background-color: transparent;
  height: 40px;
  border: none;
  color: white;
  border-radius: 25px;
  margin-top: 10px;
  cursor: default;
  background-image: url("https://res.cloudinary.com/devpcp7mz/image/upload/v1763648536/navbar_bltx2l.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.close-navbar-btn:hover {
  box-shadow: none;
  background-color: transparent;
}

.close-navbar-btn::after {
  display: none;
}

.close-navbar-btn::before {
  display: none;
}

.menubar-btns img {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 5px;
  top: 10px;
  pointer-events: auto;
}

.menubar-btns span {
  display: none;
  position: absolute;
  width: 150px;
  pointer-events: auto;
  transition: .5s ease-out;
}

.menubar-btns::before {
  display: none;
}

.menubar-btns::after {
  content: "";
  position: absolute;
  background-color: red;
  top: 100%;
  width: 100%;
  left: 0;
  transform: scaleX(0);
  box-shadow: none;
  filter: blur(0px);
  height: 5px;
}

.menubar-btns:hover {
  box-shadow: none;
  color: white;
}

.menubar-btns:hover::after {
  transform: scaleX(1);
}

.menubar-btns.active::after {
  transform: scaleX(1);
}


body::-webkit-scrollbar {
  display: none;
}

.practice-heading {
  font-family: Arial, Helvetica, sans-serif;
}

.practice {
  display: none;
}


.support {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: nowrap;
}



.yt-card {
  font-family: Arial, Helvetica, sans-serif;
  width: 150px;
  height: 120px;
  background: #111;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  animation: in-animation 1.5s forwards;
}

.yt-card.expanded {
  width: 260px;
  height: 200px;
  padding: 20px;
  justify-content: flex-start;
  background-color: #8a8a8a;
}

.yt-icon img {
  width: 70px;
  transition: 0.3s ease;
}

.yt-card.expanded .yt-icon {
  opacity: 0;
  pointer-events: none;
}

.yt-content {
  position: absolute;
  opacity: 0;
  text-align: center;
  transition: 0.3s ease;
  color: white;
}

.yt-card.expanded .yt-content {
  opacity: 1;
}

.yt-content a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 14px;
  background: red;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s ease;
}

.yt-content a:hover {
  background: #cc0000;
}

.ig-card {
  font-family: Arial, Helvetica, sans-serif;
  width: 150px;
  height: 150px;
  background: #111;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  animation: in-animation 1.5s forwards;
}

.ig-card.expanded {
  width: 260px;
  height: 200px;
  padding: 20px;
  justify-content: flex-start;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.ig-icon img {
  width: 70px;
  transition: 0.3s ease;
}

.ig-card.expanded .ig-icon{
  opacity: 0;
  pointer-events: none;
}

.ig-content {
  position: absolute;
  opacity: 0;
  text-align: center;
  transition: 0.3s ease;
  color: white;
}

.ig-card.expanded .ig-content {
  opacity: 1;
}

.ig-content a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 14px;
  color: black;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.2s ease;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.ig-content a:hover {
  font-weight: bold;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 40px;
  flex-wrap: wrap;
  margin-top: 100px;
  width: 100%;
  animation: in-animation 1.5s forwards;
}

.contact-card {
  width: 260px;
  background: #111;
  color: white;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.contact-card img {
  width: 60px;
  margin-bottom: 15px;
}

.contact-card h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.contact-card p {
  font-size: 0.95rem;
  opacity: 0.8;
  margin-bottom: 20px;
}


.contact-card a {
  display: inline-block;
  padding: 10px 20px;
  background: #ff4d4d;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s;
}

.contact-card a:hover {
  transform: scale(1.1);
}


.contact-card:hover {
  transform: translateY(-8px);
}


.gmail {
  background: linear-gradient(135deg, #f9ce34, #ee2a7b, #6228d7);
}

.whatsapp {
  background: linear-gradient(135deg, #25D366, #128C7E);
}

.contact {
  display: none;
}


@keyframes in-animation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes in-animation-from-up {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .menubar {
    width: 50vw;
  }

  .menubar-btns span {
    font-size: 14px;
  }

  .yt-card,
  .ig-card {
    width: 100px;
    height: 100px;
  }
}





